
/*header*/
@media (max-width: 1024px){
	.hotelname {
		padding-left: 50px;
	}
}
@media (max-width:1024px){
	.nav-li {
		padding-right: 20px;
	}
}
@media (max-width:1024px){
	.big-about{
		font-size: 30px;
	}
}
@media (max-width:1024px){
	.box{
		padding-left: 50px;
		padding-top: 50px;
	}
}
@media (max-width:900px){
	.hotelname {
		padding-left: 30px;
	}
}
@media (max-width:900px){
	.nav-li {
		padding-right: 10px;
	}
}
@media (max-width:900px){
	.big-about{
		font-size: 30px;
	}
}
@media (max-width:900px){
	.box{
		padding-left: 30px;
		padding-top: 30px;
	}
}
@media (max-width:800px){
	.hotelname {
		padding-left: 10px;
	}
}
@media (max-width:800px){
	.nav-li {
		padding-right: 10px;
	}
}
@media (max-width:800px){
	.big-about{
		font-size: 20px;
	}
}
@media (max-width:800px){
	.box{
		padding-left: 10px;
		padding-top: 10px;
	}
}
/*996*/

@media (max-width:996px){
	.pirveli{
		display: flex;
		flex-direction: column;
		align-items: center;

	}
}
@media (max-width:996px){
	.mesame{
		display: flex;
		flex-direction: column;
		align-items: center;

	}
}
@media (max-width:996px){
	.section4-image{
		display: flex;
		flex-direction: column;
		align-items: center;

	}
}
@media(max-width: 996px){
	.coast,
	.view,
	.stairs{
		width: 600px;
		height: 600px;
	}
}
@media(max-width: 996px){
	.box-container{
		width: 48%;	
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.box-4 box-container {
		width: 100%;
	}
}
@media(max-width: 996px){
	.section2{
		margin-bottom: 200px;
	}

}
@media(max-width: 996px){
	.section-back{
		height: 1000px;
	}

}

