@media (max-width:850px){
	.hotelname {
		font-size: 42px;
	}
}
@media (max-width:850px){
	.navigation {
		display: none;
	}
}

@media (max-width:650px){
	.hotelname {
		font-size: 35px;

	}
}
@media (max-width:650px){
	.big-about{
		font-size: 35px;
	}
}
@media (max-width:500px){
	.hotelname {
		padding-left: 100px;
		}
}
@media (max-width:500px){
	.box{
		padding-left: 100px;
		padding-top: 70px;
	}
}
@media (max-width:400px){
	.hotelname {
		padding-left: 80px;
		}
}
@media (max-width:400px){
	.box{
		padding-left: 80px;
		padding-top: 70px;
	}
}
@media (max-width:340px){
	.hotelname {
		padding-left: 60px;
		}
}
@media (max-width:340px){
	.box{
		padding-left: 60px;
		padding-top: 70px;
	}
}
@media (max-width:320px){
	.hotelname {
		padding-left: 60px;
		}
}
@media (max-width:320px){
	.box{
		padding-left: 60px;
		padding-top: 70px;
	}
}
@media(max-width: 800px){
	.section41-box {
		margin: 0 auto;
		padding-bottom: 10px;
	}
}
@media(max-width: 600px){
	.section3-title {
		width: 100%;
	}
}
@media(max-width: 550px){
	.section3-title {
		font-size: 32px;
	}
}
@media(max-width: 350px){
	.section3-title {
		font-size: 28px;
	}
}
@media(max-width: 370px){
	.section3-comment {
		width: 100%;
		margin: 0 auto;
	}
}
@media(max-width: 600px){
	.section4-title {
		width: 100%;
	}
}

@media(max-width: 600px){
	.section-image {
		display: none;
	}
}
@media(max-width: 800px){
	.section4-image {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media(max-width: 650px){
	.section4-title {
		font-size: 35px;
	}
}
@media(max-width: 550px){
	.section4-title {
		font-size: 32px;
	}
}
@media(max-width: 450px){
	.section4-title {
		font-size: 30px;
	}
}
@media(max-width: 600px){
	.section-box {
		margin: 0 auto;
		width: 100%;
	}
}
@media(max-width: 380px){
	.section-box {
		margin: 0 auto;
		width: 100%;
	}
}
@media(max-width: 336px){
	.section-box {
		margin: 0 auto;
		width: 100%;
	}
}
@media(max-width: 600px){
	.btn {
		display: none;
	}
}
@media(max-width: 380px){
	.p1,
	.p2 {
		line-height:1;
	}
}


@media(max-width: 450px){
	.section-box {
		
		width: 100%;
	}
}
@media(max-width: 550px){
	.section-title {
		font-size: 35px;
	}
}
@media(max-width: 550px){
	.section2-title {
		font-size: 30px;
		width: 100%;		
	}
}

@media(max-width: 800px){
	.use-links,
	.privacy {
		display: none;
	}
}
@media(max-width: 600px){
	.section2-box {
		padding: 15px;
	}
}
@media(max-width: 400px){
	.section2-box {
		padding: 10px;
	}
}
@media(max-width: 336px){
	.section3-box {
		margin: 0 auto;
		width: 100%;
	}
}