/*header*/
.back-img {
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 324px;
	margin: 0 auto;
	background-size: cover;	
	position: relative;
	opacity: 0.9;
}
.back-img:hover {
	opacity: 1.0;
}
.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 30px;
}
.nav-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-right: 49px;
}
.hotelname {
	color: white;
	padding-left: 139px;
	font-family: 'Poppins-Bold ';
	font-size: 14px;
}
.small-box2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 19px;
}
.home {
	color: white;
	padding-right: 14.5px;
	font-family: 'Poppins-Medium';
}
.about {
	color: white;
	padding-right: 14.5px;
	font-family: 'Poppins-Medium';
}
.big-about {
	color: white;
	font-family: 'Poppins-ExtraBold';
	font-size: 42px;
}
.nav-a {
	color: white;
	font-family: 'Poppins-SemiBold';
	font-size: 12px;
}
.nav-a:hover {
	color: #5863F8;
	/*transform: scale(1.1, 1.1);*/
}
.active{
	color: #5863F8;
	font-family: 'Poppins-SemiBold';
	font-size: 12px;
}

.nav-li {
	padding-right: 49px;
}
.last {
	padding-right: 0;
}
.box {
	padding-left: 139px;
	padding-top: 96px;
}
p.home::after{
	content:'\007C';
	color: white;
	padding-left: 14.5px;
}
/*section1*/ 
.btn {
	border: none;
	background-color: #5863F8;
	width: 184px;
	height: 50px;
	color: white;
	font-size: 14px;
	margin-top: 20px;
	font-family: 'Poppins-Regular';
}
.btn:hover {
	opacity: 0.9;
	-webkit-transform: scale(1.1, 1.1);
	    -ms-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1);
}

button.btn::after {
	content:'\2192';
	color: white;
	padding-left: 18px;

}
.p1 {
	color: black;
	font-family: 'Poppins-Medium';
	font-size: 16px;
	margin-bottom: 10px;
	line-height:1.5;
}
.p2 {
	color: black;
	font-family: 'Poppins-Regular';
	font-size: 14px;
	line-height:1.5;
}

.p-box {
	font-family: 'Poppins-Bold ';
	color:#5863F8;
	font-size: 14px;
}
.section-title {
	font-family: 'Poppins-ExtraBold';
	color: #000000;
	font-size: 42px;
	margin-bottom: 10px;
}
.pirveli {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}
.section-box {
	width:444px;
	height: 388px;
	margin-right: 108px;
	margin-top: 128px;
	
}
.section-image {
	width: 540px;
	height: 461px;
	margin-top: 90px;

}
.section-image2 {
	width: 536px;
	height: 260px;
}
.kibe {
	padding-right: 12px;
}
/*section2*/
.section2-back{
	background-image: url(../img/back2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height: auto;
	/*position: relative;*/
	padding-top: 92px;
	padding-bottom: 90px;
}
.section2-about {
	font-family: 'Poppins-Bold ';
	color: #5863F8;
	font-size: 14px;
	width: 80px;
	height: 20px;
}
.section2-title {
	font-family: 'Poppins-ExtraBold';
	color: #FFFFFF;
	font-size: 42px;
	width: 376px;
	height: 115px;

}
.section2-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack:start;
	    -ms-flex-pack:start;
	        justify-content:flex-start;
	padding-top: 113px;
	padding-left:139px; 
}
.box-4 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	
}
.box-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 260px;
	height: 260px;
	background-color: white;
	padding-right: 16px;

}
.small-logo {
	margin: 0 auto;
	width: 32.73px;
	/*height: 32.73px;*/
}
.hotel-img {
	border-radius: 50px;
	background-color: #5863F8;
	width: 59px;
	height: 58px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-left: 101px;
	margin-bottom: 15px;
}
.box-container-p {
	margin: 0 auto;
	padding-bottom: 20px;
	font-family: 'Poppins-SemiBold';
	font-size: 18px;
	width: 188px;
	height: 52px;
}
.box-container-p2 {
	padding-left: 20px;
	font-family: 'Poppins-Medium';
	font-size: 14px;
	color: #B1B1B1;
	width: 221px;
	height: 62px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
/*section3*/
.mesame {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.marius-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.t-box{
	font-family: 'Poppins-Bold ';
	color:#5863F8;
	font-size: 14px;
}
.section3-title {
	font-family: 'Poppins-ExtraBold';
	color: #000000;
	font-size: 42px;
	width: 550px;
	height: 115px;
	margin-right: 132px;
}
.section3-box {
	width: 583px;
	height: 352px;
}
.marius-name {
	font-family: 'Poppins-SemiBold';
	color: #000000;
	font-size: 18px;
	padding-left: 19px;
	padding-top: 34px;
}
.marius-image {
	padding-top: 30px;

}
.marius-comment {
	font-family: 'Poppins-Medium';
	font-size: 14px;
}
.section3-comment {
	width: 352px;
	height: 62px;
	margin-top: 20px;
	line-height:1.5;
}
.section3-image {
	background-image: url(../img/bed.png);
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	width:583px;
	height: 487px;
}
/*section4*/
.section4-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.section41-box {
	margin-left: 139px;
}
.ph-box {
	font-family: 'Poppins-Bold ';
	font-size: 14px;
	color: #5863F8;
}
.section4-title {
	font-family: 'Poppins-ExtraBold';
	font-size: 42px;
	color: #000000;
	width: 585px;
	height: 115px;
	/*margin-bottom: 50px;*/
}
.section4-box {
	margin-top: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
/*footer*/
.footer-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #121212;
	padding-top: 90px;
	padding-bottom: 144px;
	flex-wrap: wrap;
}
.footer-box1 {
	width: 260px;
	height: 191px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        /*align-items: center;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

}
.footer-hotel-title {
	font-family: 'Poppins-Bold ';
	font-size: 24px;
	color: #FFFFFF;
	padding-bottom: 20px;
}
.footer-p {
	font-family: 'Poppins-Medium';
	font-size: 14px;
	color: #B1B1B1;
	line-height:1.5;
}
.use-links {
	width: 120px;
	height: 155px;
}
.use-title {
	font-family: 'Poppins-SemiBold';
	font-size: 18px;
	color: #FFFFFF;
	padding-bottom: 20px;
}
.link-li {
	font-family: 'Poppins-Medium';
	font-size: 14px;
	color: #5863F8;
	padding-bottom: 10px;
}
.privacy {
	width: 78px;
	height: 155px;
}
.contact-info {
	width: 198px;
	height: 145px;
}
.info-li {
	font-family: 'Poppins-Medium';
	font-size: 14px;
	color: #FFFFFF;
	padding-bottom: 20px;
}
.mail-icon {
	color: #5863F8;
	padding-right: 14px;
}
.phone-icon {
	color: #5863F8;
	padding-right: 17px;
}
.map-icon {
	color: #5863F8;
	padding-right: 19.9px;
}
.map,
.phone,
.email
 {
	color: #FFFFFF;
}
.fb {
	color: #FFFFFF;
	background-color:  #121212;
	/*border-radius: 100px;*/
	/*border-color: #ffffff;*/
	font-size: 30px;
	/*width: 50px;
	height: 50px;*/
	margin-right:20px;
}
.twit {
	color: #FFFFFF;
	background-color: #121212;
	font-size: 30px;
	/*border-radius: 50px;*/
	/*width: 50px;
	height: 50px;*/
	margin-right:20px;
}
.g-plus {
	color: #FFFFFF;
	background-color: #121212;
	font-size: 30px;
	/*border-radius: 60px;*/
	/*width: 50px;
	height: 50px;*/
}
.social-icons {
	margin-top: 20px;
}
.fb:hover {
	color: #3B5998;
	-webkit-transform: scale(1.8,1.8);
	    -ms-transform: scale(1.8,1.8);
	        transform: scale(1.8,1.8);
}
.twit:hover {
	color: #55ACEE;
	-webkit-transform: scale(1.8,1.8);
	    -ms-transform: scale(1.8,1.8);
	        transform: scale(1.8,1.8);
}
.g-plus:hover {
	color: #DC4E41;
	-webkit-transform: scale(1.8,1.8);
	    -ms-transform: scale(1.8,1.8);
	        transform: scale(1.8,1.8);
}